{% load i18n %}


<script type="text/javascript">
    $(document).ready(function() {

        $("#omero_external_data_tab_inner form").ajaxForm({
            success: function(html) {
                $("#omero_external_data_tab_inner").parent().html(html);
                $("#metadata_general").empty(); // force refresh
            },
        });

        $('#omero_external_data_tab_inner .can-collapse').click(function () {
          $(this).toggleClass('closed').next().slideToggle();
        });

        $('#omero_external_data_tab_inner .can-collapse.defclose').each(function () {
          $(this).removeClass('defclose').toggleClass('closed').next().hide();
        });

        $('.external-data').each(function() {
            $(this).load("{% url omero_external_data_load_datasource obj_dtype, obj_id %}?datasource=" + $(this).attr('data-name'));
        });

        $("#omero_external_data_tab_inner").on("click", ".remove-datasource", function(event){
            var url = $(this).attr('url');
            OME.removeItem(event, ".datasource-wrapper", url);
            return false;
        });

    });
</script>

<style>
    .remove-datasource {
        float: right;
        cursor: pointer;
        display: none;
        -webkit-border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border: solid 1px transparent;
        padding: 2px;
    }

    .remove-datasource:hover {
        border: solid 1px rgba(0,0,0,.2);
    }

    .datasource-wrapper:hover .remove-datasource {
        display: block;
    }
</style>

<div class="right_tab_inner" id="omero_external_data_tab_inner">

    <div>{{ error }}</div>


    {% for datasource in datasources %}

        <div class="datasource-wrapper">
            <h1 class="can-collapse">{{ datasource.type }}</h1>
            <div>
                <img class="remove-datasource" src="/static/webclient/image/icon_basic_delete.png"
                     url="{% url omero_external_data_delete_datasource obj_dtype, obj_id %}?datasource={{ datasource.name|urlencode }}"
                     title="Delete data source" id="{{ datasource.name|urlencode }}-data source" />
                <div class="external-data" data-name="{{ datasource.name }}"></div>
            </div>
        </div>

    {% endfor %}




    {% if datasource_types %}

    <h1>Add External Data Source</h1>

    <div>
        <form method="post" action="{% url omero_external_data_index obj_dtype, obj_id %}?add_datasource">

            Type: <select name="datasource_type">
            {% for datasource_type in datasource_types %}
                <option value="{{ datasource_type.name }}">{{ datasource_type.label }}</option>
            {% endfor %}
            </select>

            <input type="submit" value="Add external data source" />

        </form>
    </div>

    {% endif %}

</div>