{% load i18n %}


<script type="text/javascript">
    $(document).ready(function() {

        $("#omero_external_data_tab_inner form").ajaxForm({
            success: function(html) {
                $("#omero_external_data_tab_inner").parent().html(html);
                $("#metadata_general").empty(); // force refresh
            },
        });

        $('#omero_external_data_tab_inner .can-collapse').click(function () {
          $(this).toggleClass('closed').next().slideToggle();
        });

        $('#omero_external_data_tab_inner .can-collapse.defclose').each(function () {
          $(this).removeClass('defclose').toggleClass('closed').next().hide();
        });

        $('.external-data').each(function() {
            console.log('loading', $(this), $(this).attr('data-name'));
            $(this).load("{% url omero_external_data_load_datasource obj_dtype, obj_id %}?datasource=" + $(this).attr('data-name'));
        });
    });
</script>


<div class="right_tab_inner" id="omero_external_data_tab_inner">

    <div>{{ error }}</div>


    {% for datasource in datasources %}

        <h1 class="can-collapse">{{ datasource.type }}</h1>
        <div class="external-data" data-name="{{ datasource.name }}"></div>

    {% endfor %}




    {% if datasource_types %}

    <h1>Add External Data Source</h1>

    <div>
        <form method="post" action="{% url omero_external_data_index obj_dtype, obj_id %}?add_datasource">

            Type: <select name="datasource_type">
            {% for datasource_type in datasource_types %}
                <option value="{{ datasource_type.name }}">{{ datasource_type.label }}</option>
            {% endfor %}
            </select>

            <input type="submit" value="Add external data source" />

        </form>
    </div>

    {% endif %}

</div>